#
# ECMWF resource file for CMIP5 conversion
#
# source_fn = 'SYNOPTIC'  will be replaced by 00z or 12z for ECMWF ERA-iterim files
#
# Program will loop on years and substiute in template.
#
years=''
file_template        = "data/Interim_Monthly_fcst_1979.nc"

experiment_id        = 'ERA-Interim'
institution          = 'European Centre for Medium-Range Weather Forecasts'
calendar             = 'gregorian'
institute_id         = 'ECMWF'
model_id             = 'ana-ECMWF'
source               = 'ERA Interim, Synoptic Monthly Means, Full Resolution'
contact              = "ECMWF: Dick Dee (dick.dee@ecmwf.int)"
references           = 'http://www.ecmwf.int'
mip_specs            = 'CMIP5'
# used for filename (up to _)
source_fn            = 'SYNOPTIC'
source_id            = 'ECMWF-interim'
inpath               = "/data/dnadeau/python/obs4MIPs/Tables"
table                = 'CMIP5_Amon_ana'
excel_file           = './denis_table.xls'
version_directory    = false

DelGlbAttributes     = "[\realization\,\experiment\,\physics_version\,\initialization_method\]"	
SetGlbAttributes     = "[(\title\,\Reanalysis output prepared for CMIP5 \)]"
InputTimeUnits       = "internal"
OutputTimeUnits      = "months since 1900-01-01"

